<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sobre Nós</title>
</head>
<body>
    <header>
        <h1>Sobre Nós</h1>
    </header>
    <div class="container">
        <h2>Nossa História</h2>
        <p>Há muitos anos, em um mundo digital em constante evolução, nasceu o InfoWeb. Esta plataforma nasceu da visão de um pequeno grupo de entusiastas da tecnologia e da informação, determinados a criar um espaço onde o conhecimento pudesse ser compartilhado e acessado de forma fácil e confiável..</p>

        <h2>Nossa Missão</h2>
        <p>Nossa missão é trazer informações em tempo real e assim criar um impacto positivo em nossa comunidade e no mundo.</p>

        <h2>Nossa Equipe</h2>
        <p>Nossa equipe é composta por profissionais dedicados e apaixonados que trabalham juntos para alcançar nossos objetivos. Conheça nossa equipe de liderança:</p>

        <ul>
            <li>João Paulo - CEO</li>
        </ul>
    </div>
</body>
</html>
