<footer id="rodape2" class="bg-light text-center">
    <!-- Grid container -->
    <div class="container p-4 pb-0">
      <!-- Section: Social media -->
      <section id="centro" class="mb-4">


            <!-- Facebook -->
              <a
                class="btn text-white btn-floating m-1"
                style="background-color: #3b5998;"
                href="facebook.com"
                role="button"
                ><img src="../assets/imagens/face.png" width="100%">
              </a>
        
              <!-- Instagram -->
              <a
                class="btn text-white btn-floating m-1"
                style="background-color: #cf52d3;"
                role="button"
                > <img src="../assets/imagens/insta.png" width="100%">
              </a>

              <a id="rodape"> © 2023 Copyright: Restaurante.com </a>

      </section>
      <!-- Section: Social media -->
    </div>
</footer>