<body>
    <div class="line"></div>
    <div class="">
    </div>
    <div class="header">
        <p class="text-center" id="Cabecalho">Notícias</p>
    </div>
    <div class="line"></div>
    <div class="">
    </div>
</body>


<div class="container">
    <div class="column">
        <img src="../assets/imagens/img2.png" alt="Imagem 1">
        <p>Arqueólogos anunciaram hoje a descoberta de um templo subterrâneo oculto sob as ruínas maias de Tikal, na Guatemala. </p>
    </div>
    
    <div class="column">
        <img src="../assets/imagens/img2.png" alt="Imagem 2">
        <p>Pesquisadores estão entusiasmados com os resultados iniciais de um tratamento experimental para a doença de Alzheimer.</p>
    </div>
    <div class="column">
        <img src="../assets/imagens/img2.png" alt="Imagem 3">
        <p>m incêndio florestal de grandes proporções está se espalhando rapidamente pelas montanhas da Califórnia.</p>
    </div>
    <div class="column">
        <img src="../assets/imagens/img2.png" alt="Imagem 4">
        <p>Cientistas da NASA confirmaram que um asteroide com cerca de 300 metros de diâmetro está em rota de colisão com a Terra. </p>
    </div>
    
</div>

<div class="container">
    <div class="column">
        <img src="../assets/imagens/img2.png" alt="Imagem 1">
        <p>Arqueólogos anunciaram hoje a descoberta de um templo subterrâneo oculto sob as ruínas maias de Tikal, na Guatemala. </p>
    </div>
    <div class="column">
        <img src="../assets/imagens/img2.png" alt="Imagem 2">
        <p>Pesquisadores estão entusiasmados com os resultados iniciais de um tratamento experimental para a doença de Alzheimer.</p>
    </div>
    <div class="column">
        <img src="../assets/imagens/img2.png" alt="Imagem 3">
        <p>m incêndio florestal de grandes proporções está se espalhando rapidamente pelas montanhas da Califórnia.</p>
    </div>
    <div class="column">
        <img src="../assets/imagens/img2.png" alt="Imagem 4">
        <p>Cientistas da NASA confirmaram que um asteroide com cerca de 300 metros de diâmetro está em rota de colisão com a Terra.</p>
    </div>
    
</div>

<div class="container">
    <div class="column">
        <img src="../assets/imagens/img2.png" alt="Imagem 1">
        <p>Arqueólogos anunciaram hoje a descoberta de um templo subterrâneo oculto sob as ruínas maias de Tikal, na Guatemala. </p>
    </div>
    <div class="column">
        <img src="docs/assets/imagens/img2.png" alt="Imagem 2">
        <p>Pesquisadores estão entusiasmados com os resultados iniciais de um tratamento experimental para a doença de Alzheimer.</p>
    </div>
    <div class="column">
        <img src="docs/assets/imagens/img2.png" alt="Imagem 3">
        <p>m incêndio florestal de grandes proporções está se espalhando rapidamente pelas montanhas da Califórnia.</p>
    </div>
    <div class="column">
        <img src="../assets/imagens/img2.png" alt="Imagem 4">
        <p>Cientistas da NASA confirmaram que um asteroide com cerca de 300 metros de diâmetro está em rota de colisão com a Terra.</p>
    </div>
    
</div>