<body>
    <div class="line"></div>
    <div class="">
    </div>
    <div class="header">
        <p class="text-center">Colunas</p>
    </div>
    <div class="line"></div>
    <div class="">
    </div>
</body>


<div class="container">
    <div class="column">
        <img src="../assets/imagens/img2.png" alt="Imagem 1">
        <p>Texto da coluna 1.</p>
    </div>
    <div class="column">
        <img src="../assets/imagens/img2.png" alt="Imagem 2">
        <p>Texto da coluna 2.</p>
    </div>
    <div class="column">
        <img src="../assets/imagens/img2.png" alt="Imagem 3">
        <p>Texto da coluna 3.</p>
    </div>
    <div class="column">
        <img src="../assets/imagens/img2.png" alt="Imagem 4">
        <p>Texto da coluna 4.</p>
    </div>
</div>